<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>OnlineArtStore</display-name>
  <context-param>
    <param-name>DB_USER</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>DB_PASS</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>DB_URL</param-name>
    <param-value>jdbc:mysql://localhost:3306/craftdb</param-value>
  </context-param>
  <error-page>
 	 <error-code>404</error-code>
	 <location>/error.jsp</location>
</error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>DefaultAdd</servlet-name>
    <servlet-class>com.admin.art.DefaultAdd</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>GetPrice</servlet-name>
    <servlet-class>com.globsyn.art.GetPrice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPrice</servlet-name>
    <url-pattern>/GetPrice1</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>